#logo {
  text-decoration: none;
  color: white;
  margin: 1%;
}

#logo:hover {
  color: grey;
}

.gallery {
  background-color: grey;
  margin: 7% 5% 5% 5%;
}

.pic {
  padding-bottom: 5%;
}

ul.gallery-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

ul.gallery-nav a:hover {
  color: grey;
}
